@model List<JoseRamos.Agl.Core.Models.OwnerSortResult>
@{
    ViewBag.Title = "AGL Tech Test - José Ramos";
}

<div class="container">
    <div class="row">
        @if (Model == null)
        {
            <div class="col-sm-12">
                <div class="card text-center">
                    
                    <div class="card-body">
                        <h4 class="card-title">Unable to find pet owners</h4>
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var owner in Model)
            {
            <div class="col-sm-6">
                <div class="card text-center">
                    
                    <div class="card-body">
                        <h4 class="card-title">@owner.Gender pet names</h4>
                    </div>
                    <div class="card-header">
                        @owner.AnimalType.ToString()
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in owner.PetNames)
                        {
                            <li class="list-group-item">@item</li>
                        }
                    </ul>
                </div>
            </div>
            }
        }
    </div>
</div>